<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ste.emer.dao.EmerplanstateMapper">
    <select id="getEmerplanstate" resultType="Emerplanstate">
        SELECT * FROM EMER_PLAN_STATE
    </select>

    <select id="findById" parameterType="String" resultType="Emerplanstate">
        SELECT * FROM EMER_PLAN_STATE WHERE PS_ID=#{psID}
    </select>

    <insert id="addEmerplanstate" parameterType="Emerplanstate">
        <selectKey keyProperty="psID" resultType="String" order="BEFORE">
            select sys_guid() as psID from dual
        </selectKey>
        INSERT INTO EMER_PLAN_STATE(PS_ID,PS_VALUE)
        VALUES(#{psID,jdbcType=VARCHAR},#{psValue,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteEmerplanstate" parameterType="String">
        DELETE FROM EMER_PLAN_STATE WHERE PS_ID=#{psID}
    </delete>

    <update id="updateEmerplanstate" parameterType="Emerplanstate">
        update EMER_PLAN_STATE SET PS_VALUE=#{psValue} WHERE PS_ID=#{psID}
    </update>

</mapper>